<link rel="stylesheet" href="client/src/Components/Home/head/head.css">
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">FileManager
          <span class="fa fa-folder"></span>
        </a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li id="signUp"><a href="#">Sign-up</a></li>
        <li id="signIn"><a href="#">Sign-in</a></li>
        <li><a href="#"></a></li>
        <li><input class="form-control search" placeholder="search for recent files/questions" type="text"></li>
      </ul>
    </div>
  </nav>
  <script src="client/src/Components/Home/head/head.js"></script>