<link rel="stylesheet" href="client/src/Components/Admin/newFolder/new.css">
<form>
<label>Folder Name</label>
<input type="text" id="folderName" placeholder="folderName" class="form-control">
<input type="radio" name="checkbox" value="private" id="check"><label>Private</label>
<br>
<input type="radio" name="checkbox" value='public' id="chec"><label>Public</label>
<br>
<br>
<label>initialize readme File</label>
<input type="checkbox" name="readMe" value="yes" id="readMe">
<br>
<br>
<button id="CreateFolder" class="btn btn-info" type="button">CreateFolder</button>
</form>
<script src="client/src/Components/Admin/newFolder/new.js"></script>