<div id="head"></div>
<link rel="stylesheet" href="client/src/Components/login/login.css">

<div class="login">
<center><div class="avatar"><div class="fa fa-user"></div></div></center>
<label>E-mail</label>
<input id="email" type="email" placeholder="Email:xxx@gmail.com"class="form-control email">
 <center><span id="email_err"></span></center> 
<br>
<label>Password</label>
<input id="password" type="password" placeholder="password" class="form-control password">
<center><span id="pass_err"></span></center>
<br>

<button id="Sign-In" class="btn btn-primary Login">Sign-In <span id="loading"></span></button>
<br>
<br>
<a class="Forgot" href="#">Forgot Password?</a>
</div>
<script src="client/src/Components/login/login.js"></script>
<script src="client/src/Components/login/pages.js"></script>