<div id="head"></div>
<link rel="stylesheet" href="client/src/Components/register/register.css">
 <h3>Sign-Up</h3>
<div class="RegisterBox">
      <center><span id="success"></span></center>
    <label>Username</label>
    <input type="text" id="username" placeholder="Username" class="form-control input">
      <center><span id="name_err"></span></center>
    <label>E-mail</label>
    <input type="text" id="email" placeholder="Email" class="form-control input">
    <center><span id="email_err"></span></center>
    <label>password</label>
    <input type="password" id="password" placeholder="password" class="form-control input">
    <label>Confirm-passwod</label>
    <input type="password" id="confirm" placeholder="confirm password" class="form-control input">
    <center><span id="pass_err"></span></center>
    <button id="Sign-Up" class="Sign-Up">Sign-Up</button>
</div>
<div class="logo">
     File_Manager <span class="fa fa-folder"></span>
     <br>
     
     Built To Help 
     You Keep track,Save your Files and Join Projects discusion with Other Individuals
</div>
<div id="foot"></div>
<script src="client/src/Components/register/register.js"></script>
<script src="client/src/Components/login/pages.js"></script>